/* You can add global styles to this file, and also import other style files */

body { 
    color: whitesmoke;
    margin:25px;
    width: 50%;
    margin-left:350px;
   }

   .img
   {
       background-image: url('assets/img6.jpg');
       background-repeat: none;
       background-size: 100%;
      
   }
   h1{
       font-size: 50px;
       font-style: italic;
    text-align: center;
    color:black;

   }
   h2{
       
    font-size: 70px;
    font-style: italic;
 margin-left: -250px;
 margin-top: 109px;
margin-bottom: -50px;
 color:rgb(78, 9, 62);

   }
   p{
    font-size: 30px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
 margin-left: 00px;
 margin-bottom: 30px;
 color: black;
   }
   .logo{
margin-top: -150px;
margin-left: 820px;
    

   }
  

